{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body style="
    background-image: url('{% static 'IMG_20230627_221734.jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
">
    
    <form method="POST" action="//" >
        {% csrf_token %}
        <h2>Login</h2>
        <label for="name" >Username:</label><br>
        <input type="text" id="username" name="name" required><br><br>

        <label for="email">email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <input type="submit" value="Login">
        
    </form>
    <form method="POST" action="/newEmployeeRegistration/">
        {% csrf_token %}
        <br><br><br><br><br><br><br><br><br><br><br>
         <input type="submit" value="register">
    </form>


   
</body>
</html>
