{% load static %}

<!DOCTYPE html>
<html>
<head>
   
</head>
<body style="
    background-image: url('{% static 'IMG_20230627_221734.jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
">

    <form method="POST" action="/newempDetailsRegistration/">
        {% csrf_token %}
         <h1>Login Page</h1>
        <label for="name">Username:</label><br>
        <input type="text" id="name" name="create_emp_name" required><br><br>

        <label for="email">email:</label><br>
        <input type="text" id="email" name="create_emp_email" required><br><br>

        <label for="email">Password:</label><br>
        <input type="password" id="new_emp_password" name="new_emp_password" required><br><br>

        
        <input type="submit" value="register">
    </form>
   

   
</body>
</html>
