{% load static %}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body style="
    background-image: url('{% static 'IMG_20230627_221734.jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
">
    <h1>Login Page</h1>
    <h1 style="background-color:orange">Welcome, {{user}}</h1>
    <h2 style="background-color:orange">Congratulations {{user}} for your first step</h2>
</body>
</html>
